<h1>Listing users</h1>

<%= paginate @users %>

<table>
  <tr>
    <th><%= link_to 'Email', sort: 'email' %></th>
    <th><%= link_to 'Created at', sort: 'created_at' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.created_at.strftime("%m/%d/%y") %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
